<ion-view view-title="My Tags">
	<ion-header-bar class="bar bar-subheader">
		<label class="item item-input item-select">
			<div class="input-label">Sort Order</div>
			<select ng-model="settings.sortOrder" ng-options="opt.key as opt.display for opt in orderByOptions">
			</select>
		</label>
	</ion-header-bar>
	<ion-content padding="true" has-header="true" has-subheader="true">
		<div class="list">
			<a class="item" ng-repeat="tag in tags" ui-sref="app.tag-detail({ tagId: tag.id })">
				{{ tag.issuer || "unnamed" }}
				<span class="badge badge-balanced usage-success">{{ tag | usageSuccess | length }}</span>
				<span class="badge badge-energized usage-failure">{{ tag | usageFailure | length }}</span>
			</a>
		</div>
	</ion-content>
</ion-view>
