<ion-view view-title="My Tags">
	<ion-nav-buttons side="right">
		<!-- @todo: edit button -->
		<button class="button button-icon button-clear button-assertive icon ion-ios-close" ng-click="deleteCurrentTag()"></button>
		<button class="button button-icon button-clear button-energized icon ion-android-alert" ng-click="currentTagFailure()"></button>
		<button class="button button-icon button-clear button-balanced icon ion-ios-checkmark" ng-click="currentTagSuccess()"></button>
		<!-- <button class="button button-icon icon ion-android-more-vertical" ng-click="toggleTagMenu()"></button> -->
	</ion-nav-buttons>
	<ion-content padding="true">
		<ion-slide-box show-pager="true" on-slide-changed="setDisplayedTagIndex(index)">
			<ion-slide class="padding" ng-repeat="tag in tags" ng-controller="TagDetailController" ng-init="init(tag)">
				<key-tag tag="tag" on-change="save(tag)"></key-tag>
				<button class="button button-block button-positive" ng-click="displayTag()">
					Use this Key Tag
				</button>
				<key-tag-history tag="tag" show-history="settings.showHistory" on-toggle-history="toggleHistory()"></key-tag-history>
			</ion-slide>
		</ion-slide-box>
	</ion-content>
</ion-view>
