<div>
	<div ng-hide="fruitlessScanAttempt">
		<p>
			How to scan:
		</p>
		<img src="./img/how-to-scan.gif" ng-click="openScanner()" />
		<button class="button icon-left ion-checkmark-circled button-block button-calm" ng-click="openScanner()">
			Scan a Key Tag
		</button>
	</div>
	<form ng-submit="onSuccess({ scanResponse: barcode })" ng-show="fruitlessScanAttempt">
		<div class="list">
			<img src="./img/confused.gif" />
			<p>
				huh. seems the scanner is not supported on your phone? idk...
				anyway just enter the numbers/characters on your barcode and pick your format
			</p>
			<label class="item item-input">
				<span class="input-label">Enter Code</span>
				<input type="text" name="barcode-text" ng-model="barcode.text" />
			</label>
			<label class="item item-input item-select">
				<span class="input-label">Format</span>
				<select name="barcode" ng-model="barcode.format" ng-options="k as k for k in BarCodeFormats">
					<!-- @todo: ionic select with images -->
				</select>
			</label>
		</div>
		<div class="actions">
			<button type="submit" class="button icon-left ion-checkmark-circled button-block button-positive">
				Save Tag
			</button>
		</div>
	</form>
</div>
