<div>
	<button class="button icon-left ion-checkmark-circled button-block button-calm" ng-click="openScanner()">
		Scan a Key Tag
	</button>
	<form ng-submit="onSuccess({ scanResponse: barcode })" ng-show="fruitlessScanAttempt">
		<div class="list">
			<label class="item item-input">
				<span class="input-label">Enter Code</span>
				<input type="text" name="barcode-text" ng-model="barcode.text" />
			</label>
			<label class="item item-input item-select">
				<span class="input-label">Format</span>
				<select name="barcode" ng-model="barcode.format" ng-options="k as k for k in BarCodeFormats">
					<!-- @todo: ionic select with images -->
				</select>
			</label>
		</div>
		<div class="actions">
			<button type="submit" class="button icon-left ion-checkmark-circled button-block button-positive">
				Save Tag
			</button>
		</div>
	</form>
</div>
